@import "common.css";

body {
  color: white;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  text-align: center;
}
#content {
  height: 100%;
}

#content:after {
  padding-bottom: 0;
}

#backchat {
  background: url('../img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  min-height: 100%;
}

#video-modal {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -480px;
  margin-top: -270px;
  /* Added for text */
  width: 80%;
  height: auto;
  text-align: center;
  background-color: green;
  border: 3px #292929 solid;
}

#video-modal img {
  width: 80%;
  height: 80%;
  /*height: auto;
  width: auto;*/
}
/* til here*/ 

#video-overlay {
  background-color: black;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1224px) {
  @media (orientation:portrait) {
    #content {
      height: 65%;
    }

    #backchat {
      background-position: top;
      background-size: 100% 65%;
    }
    #footer {
      height: 35%;
    }
    #footer div {
      vertical-align: middle;
      height: 14.25%;
    }

    /* Added until video will be ready */
    #video-modal {
      background-color: #292929;
      width: 100%;
      height: auto;
      position: absolute;
      margin: auto;
    }

    #video-modal img {
      font-size: 4em;
      width: 60%;
      height: 60%;
    }
    /* til here */
  }
  @media (orientation:landscape) {
    #backchat {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }
    /* when video arrives reemove */
    #video-modal {
      margin-top: auto;
      top: 10%;
      left: 10%;
      margin: auto;
    }
    #video-modal span {
      font-size: 4em;
    }
    /* remove til here */
    @media (device-aspect-ratio: 2/3), (device-aspect-ratio: 3/2) {
      #backchat {
        background: url('../img/bg_3_2.png') no-repeat center center fixed;
      }
    }

    @media (device-aspect-ratio: 3/4), (device-aspect-ratio: 4/3) {
      #backchat {
        background: url('../img/bg_4_3.png') no-repeat center center fixed;   
      }
    }

    @media (device-aspect-ratio: 9/16), (device-aspect-ratio: 16/9) {
      #backchat {
        background: url('../img/bg_16_9.png') no-repeat center center fixed;   
      }
    }
  }
}