@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
       url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-bold-webfont.woff') format('woff'),
       url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

#content:after {
  content: "";
  display: block;
}

#content {
  height: 92.5%;
}

#footer {
  display: table;
  text-align: center;
  background-color: #292929;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer div {
  display: inline;
}

#footer a {
  margin: 0 1% 0 1%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  line-height: 50px;
  color: white;
  font-size: 1.5em;
  font-family: 'proxima_novasemibold', sans-serif;
}

#footer a:hover {
  background-color: #333333;
}

#download-modal {
  width: 160px;
  height: 80px;
  background-color: #292929;
  z-index: 9999;
  position: fixed;
}

#download-overlay {
  background-color: black;
  opacity: .5;
  position: fixed;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
}

#download-modal img:hover {
  background-color: #333333;
  cursor: pointer;
}

#android, #ios {
  float: left;
  width: 60px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #349aff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 30;
  text-decoration: none;
}

/* From here down is regarding the mobile sites */
@media (max-width: 1224px) {
  
  @media (orientation:portrait) {

    #footer {
      position: absolute !important;
      overflow: hidden;
      margin-top: 35%; /*40*/
      height: 35%; /*40*/
    }

    #footer div {
      display: table;
      width: 100%;
      height: 14.28%; /*12.5*/
      /*border-top: 2px solid white;*/
    }

    #footer a {
      display: table-cell;
      vertical-align: middle;
      font-size: 3em;
      width: 100%;
      height: 100%;
    }

    #home     {background-color: #404040;}
    #download {background-color: #353535;}
    #blog     {background-color: #303030;}
    /*#support  {background-color: #252525;}*/
    #jobs     {background-color: #202020;}
    #privacy  {background-color: #151515;}
    #terms    {background-color: #101010;}
    #about    {background-color: #050505;}
  }

  @media (orientation:landscape) {

    #footer {
      float: left;
      margin-top: 5%;
      height: 5%;
    }

    #footer a{
      font-size: 1em;
    }
  }
}