@import "common.css";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #666;
  padding-top: 5%;
}

* {
  margin: 0;
}

html, body {
  height: 95%;
}

#content {
  background: none !important;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 1em;
  height: 87.5%;
}

#content:after {
  padding-bottom: 7.5%;
}

#footer {
  overflow: hidden;
  height: 7.5%;
}

h1, h2, h3 {
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1;
}

h1 {
  color: #333333;
  line-height: 1.3;
}

li {
  margin-bottom: 12px;
}

p {
  margin-bottom: 6px;
}

/* From here down is regarding the mobile sites */
@media (max-width: 1224px), (device-aspect-ratio: 2/3) and (device-aspect-ratio: 4/3) and (device-aspect-ratio: 3/4) and (device-aspect-ratio: 9/16) {
  #content {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    font-size: 1.5em;
  }
  @media (min-width: 768px) {
    #content {
      font-size: 3em;
    }
  }
  
  @media (orientation:portrait) {
    #footer {
      position: static;
      bottom: 0;
      margin: auto;
    }
    #content {
      min-height: 72%;
      height: auto;
    }
    #content:after {
      padding-bottom: 50px;
    }
  }

  @media (orientation:landscape) {
    #content {
      font-size: 2em;
    }

    #content:after {
      padding-bottom: 10%;
    }
  }
}