<html>
  <body>
    <div id='content'>
      <h1>Half Anonymous Conversations </h1>

      <h2>We are making messaging fun and engaging again. We are improving friendships and relationships. We are memories and moments. We are Backchat.</h2>

      <p>Over the last decade, we began to text and share every thought, opinion, and idea with limited engagement or thought through our phones. Backchat was built to create experiences and moments in time that you will share with friends, new and old, via anonymous messaging.</p>

      <p>We are a small, enthusiastic team with different skill sets that meet at one place - making messaging fun again. Backchat is available on iPhone and Android because we all deserve to have fun on our phones, no matter what phone you use. Let's stay in touch - download the app or email us (here) to send us a note. If you want to join the team, now's the time to get involved- email us and tell us why you're awesome and tell us if you could Backchat one person, who it would be.</p>
    </div>
  </body>
</html>
